<main>
    <div class="parent">
        <app-header></app-header>
    
        <div class="row">
            <div class="col-3">
                <app-assides></app-assides>
            </div>
            <div class="col-9 p-5">
                <h4 class="py-3 px-2 text-muted ">Dashboard > Users</h4>

                <div class="row p-1 rounded-3 shadow " style="height: 45px;background: linear-gradient(45deg, rgb(59, 59, 59), transparent, rgb(40, 41, 41));">
    
                    <div class="col-2">
                        <div class="form-group h-100">
                            <button class="btn btn-success d-flex align-items-center justify-content-center px-2  h-100 w-100" >
                                <span class="fa fa-user-plus fa-2x mx-2"></span> Nouveau user
                            </button>
                        </div>
                    </div>
                    <div class="col-5 px-2">
                        <div class="form-group h-100">
                            <input type="search" class="form-control h-100 border-0  rounded-3 px-3" placeholder="enter the user search name ">
                        </div>
                    </div>
                    <div class="col-3 px-2">
                        <div class="form-group h-100">
                            <select name="choice" class="form-select border-0 h-100 px-3">
                                <option value="none" disabled selected>Filter choice</option>
                                <option value="all">All</option>
                                <option value="f" >Femme</option>
                                <option value="h" >Homme</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group h-100">
                            <button class="btn btn-secondary d-flex align-items-center justify-content-between px-2  h-100 w-100">
                                OrderBy Name
                
                                <div class="float-end">
                                    <span class="fa fa-chevron-circle-down"></span>
                                    <span class="fa fa-chevron-circle-up mx-1 text-warning"></span>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row mt-5 bg-secondary d-flex align-items-center text-white" style="height: 45px;font-weight: 700;">
                    <div class="col-1 text-center">Image</div>
                    <div class="col-1 text-center">FirstName</div>
                    <div class="col-1 text-center">LastName</div>
                    <div class="col-2 text-center">Email</div>
                    <div class="col-2 text-center">Sexe</div>
                    <div class="col-1 text-center">Phone</div>
                    <div class="col-1 text-center">Quiz</div>
                    <div class="col-3 text-center">Actions</div>
                </div>
                <div class="row my-2 d-flex align-items-center" *ngFor="let user of users">
                    <div class="col-1 text-center"><div class="image"><span class="fa fa-image fa-2x"></span></div></div>
                    <div class="col-1 text-center"><div class="">{{user.prenom}}</div></div>
                    <div class="col-1 text-center"><div class="">{{user.nom}}</div></div>
                    <div class="col-2 text-center"><div class="">{{user.email}}</div></div>
                    <div class="col-2 text-center"><div class="">{{user.sexe}}</div></div>
                    <div class="col-1 text-center"><div class="">{{user.num}}</div></div>
                    <div class="col-1 text-center"><div class="">{{user.questionaires | taille}}</div></div>
                    <div class="col-3 text-center d-flex justify-content-end ">
                        <button class="btn px-2 py-1 btn-warning mx-1"><span class="fa fa-eye"></span> details</button>
                        <button class="btn px-2 py-1 btn-secondary mx-1"><span class="fa fa-edit"></span> edit</button>
                        <button class="btn px-2 py-1 btn-danger mx-1"><span class="fa fa-times"></span> delete</button>
                    </div>
                </div>
            </div>
        </div>
        
    
        <app-footer></app-footer>
    </div>
</main>