.image{
    width: 45px;
    height: 45px;
    background-color: rgb(63, 63, 63);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}