<main>
    <div class="parent">
        <app-header></app-header>
    
        <div class="row p-3">
            <h4 class="p-3 px-2 text-muted ">Dashboard > Evaluation | <span class="text-info ">Java Spring Boot</span></h4>
            <div class="col-9 rounded-3  p-3" style="height: 700px;background-color: #ffffffda;">
                <div class="row">
                    <div class="col-11 text-danger"><span class="bg-warning py-2 px-3 rounded" style="color: white;font-weight: 700;font-size: 20px;">{{participation.questionaire.titre}}</span></div>
                    <div class="col-1"><span class="bg-warning py-2 px-3 rounded" style="color: white;font-weight: 700;font-size: 20px;">{{currentQuestion + 1}}/{{participation.questionaire.questions | taille}}</span></div>
                </div>

                <div class="row py-5 px-3">
                    <span class="h4">{{currentQuestion + 1}}. {{participation.questionaire.questions[currentQuestion].libelle}}</span>
                </div>
                <div class="form-check p-3" *ngFor="let response of participation.questionaire.questions[currentQuestion].responses;let index=index">
                    <input type="radio" name="check" value="{{response.libelle}}" id="{{response.id}}" (change)="getSelectedValue($event)" class="form-check-inline " />
                    <label for="{{response.id}}" class="form-check-label mx-2"> {{response.libelle}}</label>
                </div>

                <button (click)="terminer()" class="py-2 px-3 mx-2 my-3 btn btn-primary" *ngIf="end">
                    Terminez le Quiz <span class="fa fa-save"></span></button>
                <button class="py-2 px-3 mx-2 my-3 btn btn-success" *ngIf="!end" (click)="nextQuestion()">Suivant <span class="fa fa-arrow-circle-right"></span></button>
            </div>
            <div class="col-3 px-3" style="height: 700px;">
                <div class="h-100 shadow rounded-3" style="background-color: #ffffffda;">
                    <div style="height: 93%;">
                        <div class="row p-3 d-flex justify-content-start ">
                            <div class="col-12 fa fa-list h5"> <span class="h4 mx-2 text-muted ">Quiz Participants list</span></div>
                        </div>
                        <div class="row px-3 py-1 d-flex align-items-center " *ngFor="let part of participantQuizListe">
                            <div class="col-2 fa-2x"><div class="image"><span class="fa fa-user"></span></div></div>
                            <div class="col-5">{{part.utilisateur.username}}  {{part.utilisateur.nom}}</div>
                            <div class="col-3">
                                <span *ngIf="part.score!=null" class="btn bg-success text-white px-3 py-1 float-start " >1 ere</span>
                                <span *ngIf="part.score==null">S.O</span>
                            </div>
                            <div class="col-2 text-center ">
                                <span *ngIf="part.score==null">0/20</span>
                                <span *ngIf="part.score!=null">{{part.score}}/{{participation.questionaire.questions | taille}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center " style="height: 7%;">
                        <div class="col-6 p-3">
                            <button class="btn btn-outline-danger w-100 h-100" routerLink="/quiz">Abandonner le Quiz</button>
                        </div>
                        <div class="col-6 p-3">
                            <button class="btn btn-outline-danger w-100 h-100">Recommencer le Quiz</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <app-footer></app-footer>
    </div>
</main>