

<div class="row logo">
    <div class="col-6 ">
        <div class="row h-75">
            <div class="col-2"></div>
            <div class="col-8 d-flex justify-content-center align-items-center flex-column opacity-75">
                <img src="assets/images/02.png" alt="" class="img-fluid" />
                <img src="assets/images/logo-pc-text.png" alt="" class="img-fluid" style="height: 70px;margin-top: -100px !important;" />
            </div>
        </div>
        <div class="row h-25 ">
            <div class="col-2"></div>
            <div class="col-8">
                <span class="text-center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sequi distinctio quos fuga natus omnis delectus rerum temporibus fugit minima. Minima distinctio enim temporibus aliquam unde quam amet ab eveniet.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sequi distinctio quos fuga natus omnis delectus rerum temporibus fugit minima. Minima distinctio enim temporibus aliquam unde quam amet ab eveniet.
                </span>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row h-25"></div>
        <div class="row d-flex justify-content-center h-50 p-5">
            <div class="user d-flex justify-content-center align-items-center">
                <span class="fa fa-user-plus text-success" style="font-size: 45px;" routerLink="/register"></span>
            </div>
            <div class="login bg-white rounded-4 shadow-lg">
                <div class="form mt-5 p-3">
                    <label for="username">
                        <span class="fa fa-user d-flex justify-content-center align-items-center"></span>
                        <input type="text" id="username" [(ngModel)]="user.username" class="px-3 form-control"  placeholder="username">
                    </label>
                    <label for="password">
                        <span class="fa fa-key d-flex justify-content-center align-items-center"></span>
                        <input type="password" id="password" [(ngModel)]="user.password" class="px-3 form-control "  placeholder="password">
                    </label>
                </div>
                <div class="row px-3">
                    <div class="col-6">
                        <div class="form-check d-flex justify-content-start align-items-center">
                            <input type="checkbox" id="check" class="form-check-input bg-success">
                            <label for="check" class="form-check-label mx-2">rester connecter !?</label>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center text-info">
                        <span>forget password !?</span>
                    </div>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <button class="btn btn-outline-success py-2 w-100" (click)="login()">connexion <span class="fa fa-send text-dark"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row h-25"></div>
    </div>
</div>

<app-footer></app-footer>