<aside class="shadow px-3">

    <div class="row p-3" style="height: 280px;">
        <div class="col-12 rounded-4 bg-white d-flex justify-content-center align-items-center flex-column opacity-75 ">
            <span class="fa fa-user text-secondary" style="font-size: 200px;text-shadow: 1px 2px 2px rgba(0,0,0,0.4);"></span>
            <div class="h5 d-flex justify-content-center align-items-center ">
                <div>Administrator</div> 
                <div class="bg-success mx-3" style="width: 7px;height: 7px;border-radius: 50%;"></div> 
            </div>
        </div>
    </div>
    <nav>
        <ul class="px-3 list-group opacity-75 ">
            <li class="list-group-item active" (click)="managerActiveBtn($event, 'dashboard')">
                 Tableau de bord <span class="fa fa-forward float-end "></span>
            </li>
            <li class="list-group-item" (click)="managerActiveBtn($event, 'quiz')">
                 Questionaire <span class="fa fa-forward float-end"></span>
            </li>
            <li class="list-group-item" (click)="managerActiveBtn($event, 'list-evaluation')">
                Evaluations <span class="fa fa-forward float-end"></span>
            </li>
            <li class="list-group-item " (click)="managerActiveBtn($event, 'users')">
                Users <span class="fa fa-forward float-end"></span>
            </li>
            <li class="list-group-item " (click)="managerActiveBtn($event, 'profiles')">
                Profile <span class="fa fa-forward float-end"></span>
            </li>
        </ul>
        
    </nav>

    <div class="row my-5">
        <div class="col-4"></div>
        <div class="col-4">
            <button (click)="logout()" class="btn btn-danger rounded-3 bottom-0 py-2 px-3"><span class="fa fa-times-circle mx-2"></span>Log out</button>
        </div>
    </div>

</aside>