aside{
    height: calc(100vh - 120px);
    background-image: url('../../../assets/images/06.jpg');
    background-size: cover;
}
.list-group-item{
    height: 40px;
    border: none;
    padding: 10px !important;
    cursor: pointer;
    span{
        color: rgb(155, 155, 155);
    }

    &:hover{
        border-bottom: 1px solid rgb(3, 177, 12);
        color: rgb(3, 177, 12);
        border-left: 6px groove rgb(3, 177, 12);
        font-weight: 500;

        span{
            color: rgb(3, 177, 12);
        }
    }
}
.active{
    background-color: white;
    border-left: 6px groove rgb(3, 177, 12);
    color: rgb(3, 177, 12);
    font-weight: 500;
    span{
        color: rgb(3, 177, 12);
    }
}