.card{
    opacity: 0.7;

    &:hover{
        opacity: 1;
        box-shadow: 0 0 12px rgba(0,0,0,0.2);
        border-bottom: 1px solid green !important;
    }
}
.button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 7px !important;
    border: 1px solid rgb(255, 153, 0);
    color: rgb(255, 153, 0);

    span{
        color: rgb(255, 153, 0) !important;
    }
}
.btnActive{
    background-color: orangered !important;
    color: white;
    font-weight: 700 !important;
}
