<main class="p-5">
    <h4 class="py-3 px-2 text-muted ">Dashboard > Quiz</h4>

    <app-filter></app-filter>

    <div class="row py-4" style="height: 580px;">
        <div class="col-3 px-2 my-2" *ngFor="let quiz of quizList">
            <div class="card border-0" style="height: 250px;">
                <div class="card-header d-flex justify-content-center  align-items-center  h-50">
                    <span class="fa fa-image fa-5x opacity-50"></span>
                </div>
                <div class="card-body p-2 h-50">
                    <div>
                        <span class="h5">{{quiz.titre}}</span>
                        <span class="fa fa-star-half text-warning float-end px-1"></span>
                        <span class="fa fa-star text-warning float-end px-1"></span>
                        <span class="fa fa-star text-warning float-end px-1"></span>
                        <span class="fa fa-star text-warning float-end px-1"></span>
                    </div>
                    <div class="lorem text-muted ">
                        Lorem ipsum dolor sit amet consecte adipisicing elit. Vero et...
                    </div>
                    <div class="row d-flex justify-content-center my-1">
                        <div class="col-6 px-1"><button class="btn btn-warning px-2 py-1 w-100" (click)="goToDetails(quiz)">
                            <span class="fa fa-eye"></span> view</button>
                        </div>
                        <div class="col-6 px-1"><button class="btn btn-secondary px-2 py-1 w-100" (click)="createParticipation(quiz)">
                            <span class="fa fa-edit"></span> Participer</button>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>


    <div class="row my-2" style="bottom: 0 !important;position: fixed-bottom ">
        <div class="col-12 d-flex justify-content-end align-items-center" style="height: 35px;">
            <button class="btn button bg-white" (click)="previous()">
                <span class="fa fa-arrow-circle-left" style="font-size: 27px;"></span>
            </button>
            <button *ngFor="let item of tab;let index=index" [ngClass]="currentItem+1==index+1? 'btn button bg-white btnActive' : 'btn button bg-white'">
                {{item}}
            </button>
            <button class="btn button bg-white" (click)="next()">
                <span class="fa fa-arrow-circle-right" style="font-size: 27px;"></span>
            </button>
        </div>
    </div>
</main>    
