header{
    background-image: url('../../../assets/images/06.jpg');
    background-size: cover;
}
button{
    height: 38px;
}
.user{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #444;
    transition: .7s;

    &:hover{
        background-color: #09b83d;
        transition: .7s;
    }
}
.form-group{
    input{
        background-color: rgba(255, 255, 255, 0.178);
        border: none;
        border-bottom: 1px double #09b83d;;
    }
}