<header class="row shadow" style="height: 90px;">
    <div class="col-2 d-lg-flex justify-content-center  align-items-center ">
        <img src="assets/images/02.png" alt="logo" style="height: 85px;">
        <img src="assets/images/logo-pc-text.png" alt="logo" style="height: 35px;">
    </div>
    <div class="col-6 h-100 d-flex justify-content-center  align-items-center">
        <button class="btn px-3 btn-outline-secondary mx-2"> <span class="fa fa-home"></span> home</button>
        <button class="btn px-3 btn-outline-secondary mx-2"> <span class="fa fa-tags"></span> services</button>
        <button class="btn px-3 btn-outline-secondary mx-2"> <span class="fa fa-info-circle"></span> quiz</button>
        <button class="btn px-3 btn-outline-secondary mx-2"> <span class="fa fa-users"></span> users</button>
        <button class="btn px-3 btn-outline-secondary mx-2"> <span class="fa fa-comment"></span> About us</button>
    </div>
    <div class="col-4 d-flex justify-content-center align-items-center">
        <div class="form-group w-100">
            <input type="search" placeholder="search any elements" class="form-control px-3" style="height: 40px;border-radius: 12px;">
        </div>
        <div class="d-flex justify-content-center align-items-center mx-2 user">
        <i class="fa fa-user-circle text-white fa-2x" routerLink="/login"></i></div>
    </div>
</header>