main{
    width: 100vw;
    height: 100vh;
    background-color: rgb(226, 226, 226);
}
table{
    thead{
        height: 40px;
        background-color: rgb(3, 180, 48);
        color: white;
    }
    tbody{
        tr{
            height: 38px;
        }

    }
}
