
<main>
    <div class="parent">
        <app-header></app-header>
    
        <div class="row">
            <div class="col-3">
                <app-assides></app-assides>
            </div>
            <div class="col-9">
                <h4 class="py-3 px-2 text-muted ">Dashboard > Quiz > Liste > details</h4>
                <section class="row mx-3 rounded-3" style="height: 700px;background-color: #ffffff71;">
                    <div class="col-12 h-25 rounded-3" style="border: 6px double rgba(27, 151, 27, 0.425);">
                        <div class="row h-100 rounded-3">
                            <div class="col-3 d-flex justify-content-center align-items-center ">
                                <span class="fa fa-image opacity-50 " style="font-size: 120px;"></span>
                            </div>
                            <div class="col-6 d-flex py-2 flex-column justify-content-start ">
                                <p><span class="h6 text-success">code Quiz :</span> <span class="h5 mx-2">{{quiz.code}}</span></p>
                                <p><span class="h6 text-success">Tire du quiz :</span> <span class="h5 mx-2">{{quiz.titre}}</span></p>
                                <p><span class="h6 text-success">Proprietaire du quiz :</span> <span class="h5 mx-2">Fredy Kenfack</span></p>
                                <p><span class="h6 text-success">Description du quiz :</span> <span class="h5 mx-2 text-muted ">{{quiz.description}}...</span></p>
                            </div>
                            <div class="col-3 d-flex flex-column rounded-3 px-2 py-3">
                                <div class="row">
                                    <div class="col-6 px-1"><button class="btn btn-secondary w-100 py-1">
                                        <span class="fa fa-eye mx-2"></span>Questions</button>
                                    </div>
                                    <div class="col-6 px-1 opacity-50 "><button class="btn btn-secondary w-100 py-1">
                                        <span class="fa fa-eye-slash mx-2"></span>Evaluations</button>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-6 px-1">
                                        <button class="btn btn-secondary py-1 my-1 w-100" routerLink="/create-quiz">add question</button>
                                    </div>
                                    <div class="col-6 px-1">
                                        <button class="btn btn-secondary py-1 my-1 w-100" routerLink="/create-quiz">edit quiz</button>
                                    </div>
                                </div>
                                <button class="btn btn-danger py-1 m-1"><span class="fa fa-times-circle mx-2"></span>Suprimer le quiz</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 h-75 py-5">
                        <table class="table">
                            <thead class="">
                                <th class="th p-2">N0</th>
                                <th class="th p-2">Question</th>
                                <th class="th p-2">Responses</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let question of quiz.questions;let index=index">
                                    <td class="td p-2">{{index+1}}</td>
                                    <td class="td p-2">{{question.libelle}}</td>
                                    <td class="td p-2">
                                        <span>Responses : </span>
                                        <span *ngFor="let response of question.responses;let index=index">
                                            <span *ngIf="response.exactly" class="text-success" style="font-weight: 700;"><span *ngIf="index == 0">|</span> {{response.libelle}} |</span>
                                            <span *ngIf="!response.exactly"><span *ngIf="index == 0">|</span> {{response.libelle}} |</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="col-4 py-5 px-2">
                        <div class="w-100 shadow rounded-3" style="height: 90%;">
                            <div class="h5 p-3 text-muted bg-secondary "> <span class="text-white">Add a new question to the quiz</span></div>
                            <div class="form-group p-3">
                                <label for="libelle" class="form-label">Question libelle :</label>
                                <textarea rows="4" [(ngModel)]="question.libelle" class="form-control"></textarea>
                            </div>
                            <span class="p-3">Response choice :</span>
                            
                            <div class="row d-flex justify-content-center align-items-end my-2" *ngFor="let reponse of question.responses;let index=index" >
                                <div class="col-10">
                                    <div class="form-group px-3">
                                        <input type="text" [(ngModel)]="reponse.libelle" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group px-3">
                                        <input type="radio" (change)="getResponse($event, reponse)" name="choice" class="form-check-inline " />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-100 rounded-3" style="height: 10%;">
                            <div class="row">
                                <div class="col-3 px-2"><button class="w-100 btn btn-outline-success py-2" (click)="add()">
                                    <span class="fa fa-plus-circle"></span> add</button>
                                </div>
                                <div class="col-9 px-2"><button class="w-100 btn btn-success py-2" (click)="addQuestion()">
                                    <span class="fa fa-save"></span> save question</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    
        <app-footer></app-footer>
    </div>
</main>