main{
    height: calc(100vh - 90px);
    cursor: pointer;
}

.card{
    border-radius: 18px !important;
}

.card1{
    background-image: -webkit-gradient(linear, left top, right top, from(#5a49e9), to(#7a6cf0));
    background-image: -webkit-linear-gradient(left, #5a49e9, #7a6cf0);
    background-image: -o-linear-gradient(left, #5a49e9, #7a6cf0);
    background-image: linear-gradient(to right, #5a49e9, #7a6cf0);
    &:hover{
        background-image: linear-gradient(to left, #5a49e9, #7a6cf0);
    }
}

.card2{
    background-image: -webkit-gradient(linear, left top, right top, from(#cf0633), to(#f96079));
    background-image: -webkit-linear-gradient(left, #cf0633, #f96079);
    background-image: -o-linear-gradient(left, #cf0633, #f96079);
    background-image: linear-gradient(to right, #cf0633, #f96079);
    &:hover{
        background-image: linear-gradient(to left, #cf0633, #f96079);
    }
}

.card3{
    background-image: -webkit-gradient(linear, left top, right top, from(#129021), to(#1ed41e));
    background-image: -webkit-linear-gradient(left, #129021, #1ed41e);
    background-image: -o-linear-gradient(left, #129021, #1ed41e);
    background-image: linear-gradient(to right, #129021, #1ed41e);
    &:hover{
        background-image: linear-gradient(to left, #129021, #1ed41e);
    }
}

.card4{
    background-image: -webkit-gradient(linear, left top, right top, from(#323532), to(#606160));
    background-image: -webkit-linear-gradient(left, #323532, #606160);
    background-image: -o-linear-gradient(left, #323532, #606160);
    background-image: linear-gradient(to right, #323532, #606160);
    &:hover{
        background-image: linear-gradient(to left, #323532, #606160);
    }
}
.circle{
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-radius: 50%;
    border: 4px double white;
    font-size: 35px;
    font-weight: 700;
    color: #606160;
    box-shadow: 0 0 10px rgba(0,0,0,0.4) inset;
}
.chart{
    height: 380px;
    border-top: 8px double rgb(255, 255, 255);
    border-bottom: 8px double rgb(255, 255, 255);
    border-left: 1px solid rgb(231, 231, 231);
    border-right: 1px solid rgb(231, 231, 231);
    background-color: rgba(7, 134, 64, 0.021);
}