<main class="p-5">
    <h4 class="py-3 px-2 text-muted ">Dashboard</h4>
    <div class="row">
        <div class="col-3 px-2">
            <div class="card card1 border-0 shadow ">
                <div class="card-header border-0" style="height: 170px;">
                    <div class="row h-75">
                        <div class="col-6 d-flex  justify-content-center align-items-center">
                            <span class="fa fa-users fa-4x opacity-50 "></span>
                        </div>
                        <div class="col-6 d-flex  justify-content-center align-items-center">
                            <div class="circle d-flex  justify-content-center align-items-center">
                                0{{users | taille}}
                            </div>
                        </div>
                    </div>
                    <div class="row h-25 p-2 d-flex align-items-end ">
                        <div class="col-11 text-white opacity-75 ">Users managers</div>
                        <div class="col-1 fa fa-ellipsis-h text-white"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 px-2">
            <div class="card card2 border-0 shadow ">
                <div class="card-header border-0" style="height: 170px;">
                    <div class="row h-75">
                        <div class="col-6 d-flex  justify-content-center align-items-center ">
                            <span class="fa fa-folder-open fa-4x opacity-50 "></span>
                        </div>
                        <div class="col-6 d-flex  justify-content-center align-items-center">
                            <div class="circle d-flex  justify-content-center align-items-center">
                                0{{quiz.totalElements}}
                            </div>
                        </div>
                    </div>
                    <div class="row h-25 p-2 d-flex align-items-end  ">
                        <div class="col-11 text-white opacity-75 ">Quiz managers</div>
                        <div class="col-1 fa fa-ellipsis-h text-white"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 px-2">
            <div class="card card3 border-0 shadow ">
                <div class="card-header border-0" style="height: 170px;">
                    <div class="row h-75">
                        <div class="col-6 d-flex  justify-content-center align-items-center ">
                            <span class="fa fa-address-book fa-4x opacity-50 "></span>
                        </div>
                        <div class="col-6 d-flex  justify-content-center align-items-center">
                            <div class="circle d-flex  justify-content-center align-items-center">
                                0{{participations | taille}}
                            </div>
                        </div>
                    </div>
                    <div class="row h-25 p-2 d-flex align-items-end  ">
                        <div class="col-11 text-white opacity-75 ">Evaluations managers</div>
                        <div class="col-1 fa fa-ellipsis-h text-white"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 px-2">
            <div class="card card4 border-0 shadow ">
                <div class="card-header border-0" style="height: 170px;">
                    <div class="row h-75">
                        <div class="col-6 d-flex  justify-content-center align-items-center ">
                            <span class="fa fa-file-word-o fa-4x opacity-50 "></span>
                        </div>
                        <div class="col-6 d-flex  justify-content-center align-items-center">
                            <div class="circle d-flex  justify-content-center align-items-center">
                                0{{questions | taille}}
                            </div>
                        </div>
                    </div>
                    <div class="row h-25 p-2 d-flex align-items-end  ">
                        <div class="col-11 text-white opacity-75 ">Questions managers</div>
                        <div class="col-1 fa fa-ellipsis-h text-white"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5 rounded-4 chart">
        <div class="col-6 d-flex justify-content-center align-items-center border-0 px-2">
            <div class="card h-75 border-0">
                <canvas id="line" class="w-100 h-100"></canvas>
            </div>
        </div>

        <div class="col-6 d-flex justify-content-center align-items-center border-0 px-2">
            <div class="card h-75 border-0">
                <canvas id="bar" class="w-100 h-100"></canvas>
            </div>
        </div>
    </div>

</main>