<main>
    <div class="parent">
        <app-header></app-header>
    
        <div class="row">
            <div class="col-3">
                <app-assides></app-assides>
            </div>
            <div class="col-9">
                <h4 class="py-3 px-2 text-muted ">Dashboard > Quiz > create</h4>
                <section class="row px-5 py-3" style="height: 700px;">
                    <div class="col-10 rounded-3 px-3" style="background-color: rgba(255,255,255,0.7);">
                        <div class="row"><span class="p-3 h5 text-muted ">Enregistrement d'un nouveau quiz</span></div>
                        <div class="row">
                            <div class="form-group">
                                <label for="" class="form-label py-1">Code :</label>
                                <input type="text" disabled [(ngModel)]="quiz.code" class="form-control rounded-3 px-3" placeholder="enter code">
                            </div>

                            <div class="form-group my-3">
                                <label for="" class="form-label py-1">Titre :</label>
                                <input type="text" [(ngModel)]="quiz.titre" class="form-control rounded-3 px-3" placeholder="enter title">
                            </div>

                            <div class="form-group">
                                <label for="" class="form-label py-1">Image :</label>
                                <input type="file" [(ngModel)]="quiz.image" class="form-control rounded-3 px-3" placeholder="enter title">
                            </div>

                            <div class="form-group my-3">
                                <label for="" class="form-label py-1">User :</label>
                                <select name="user" class="form-select" id="">
                                    <option value="none" disabled selected>Select the user</option>
                                </select>
                            </div>

                            <div class="form-group my-3">
                                <label for="" class="form-label py-1">Description :</label>
                                <textarea type="text" [(ngModel)]="quiz.description" class="form-control rounded-3 px-3 py-2" rows="5" placeholder="Quiz description resume"></textarea>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-outline-danger py-2 px-3 float-start " routerLink="/quiz"><span class="fa fa-times mx-2"></span> Cancel</button>
                                <button (click)="saveQuiz()" class="btn btn-outline-success py-2 px-3 float-end ">
                                    <span class="fa fa-save mx-2"></span> Save the Quiz
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    
        <app-footer></app-footer>
    </div>
</main>