main{
    width: 100vw;
    height: 100vh;
    background-color: rgb(226, 226, 226);
}
.image{
    width: 178px;
    height: 170px;
    border-radius: 50%;
    border: 8px groove white;
    border-top: none;
    border-bottom: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.4) inset;
    background-color: rgba(94, 94, 94, 0.4);
}
.card{
    border-radius: 18px !important;
}
.card1{
    border: 1px solid orangered !important;
    border-top: none !important;border-bottom: none !important;
}
.card2{
    border: 1px solid indigo !important;
    border-top: none !important;border-bottom: none !important;
}
.card3{
    border: 1px solid green !important;
    border-top: none !important;border-bottom: none !important;
}
.card4{
    border: 1px solid #333 !important;
    border-top: none !important;border-bottom: none !important;
}

.circle{
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-radius: 50%;
    border: 4px double white;
    font-size: 35px;
    font-weight: 700;
    color: #606160;
    box-shadow: 0 0 10px rgba(0,0,0,0.4) inset;
}
.form-group{
    input, select{
        height: 38px;
        border: none;
        background-color: rgba(255, 255, 255, 0.096);
        border-bottom: 1px solid #058b58;

        &::placeholder{
            color: green;
        }
    }
}