<main>
    <div class="parent">
        <app-header></app-header>
    
        <div class="row">
            <div class="col-3">
                <app-assides></app-assides>
            </div>
            <div class="col-9 p-3">
                <h4 class="py-3 px-2 text-muted">Dashboard > Users > Profiles</h4>
                <div class="row mt-5" style="height: 180px;">
                    <div class="col-4 h-100 rounded-3 px-4 d-flex  justify-content-center align-items-center" style="background-color: #ffffff73;">
                        <div class="image d-flex  justify-content-center align-items-center " >
                            <span class="fa fa-image fa-5x text-white "></span>
                        </div>
                    </div>
                    <div class="col-8 px-5" >
                        <div class="row rounded-3" style="background-color: #ffffff73;height: 180px;">
                            <div class="col-6 d-flex justify-content-start align-items-center flex-column ">
                                <p class="my-2"><span>FirstName: </span><span class="h5">{{user.prenom}}</span></p>
                                <p class="my-2"><span>LastName: </span><span class="h5">{{user.nom | uppercase}}</span></p>
                                <p class="my-2"><span>Email: </span><span class="h5">{{user.email}}</span></p>
                            </div>
                            <div class="col-6 d-flex justify-content-start align-items-center flex-column ">
                                <p class="my-2"><span>Phone: </span><span class="h5">{{user.num}}</span></p>
                                <p class="my-2"><span>Sexe: </span><span class="h5">{{user.sexe}}</span></p>
                                <p class="my-2"><span>Roles: </span><span *ngFor="let role of user.roles" class="h6">| {{role}} </span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 ">
                    <div class="col-4 rounded-3 p-0">
                        <div class="form-group">
                            <input type="text" [(ngModel)]="user.prenom" class="form-control px-3" placeholder="firstName" />
                        </div>
                        <div class="form-group my-4">
                            <input type="text" [(ngModel)]="user.nom" class="form-control px-3" placeholder="lastName" />
                        </div>

                        <div class="form-group my-4">
                            <input type="text" [(ngModel)]="user.num" class="form-control px-3" placeholder="phone" />
                        </div>

                        <div class="form-group my-4">
                            <input type="email" [(ngModel)]="user.email" class="form-control px-3" placeholder="email" />
                        </div>

                        <div class="form-group my-4">
                            <select name="sexe" [(ngModel)]="user.sexe" class="form-select px-3" id="">
                                <option value="none" class="text-success" disabled selected>Select user sexe</option>
                                <option value="m" >Homme</option>
                                <option value="f" >Femme user sexe</option>
                            </select>
                        </div>

                        <div class="form-group my-4">
                            <button class="btn py-2 w-100 my-2 btn-outline-success ">Updated user</button>
                        </div>
                    </div>
                    <div class="col-8 px-4 m-0">
                        <div class="row my-3">
                            <div class="col-6 px-4">
                                <div class="card card1 border-0 shadow ">
                                    <div class="card-header border-0" style="height: 170px;">
                                        <div class="row h-75">
                                            <div class="col-6 d-flex  justify-content-center align-items-center ">
                                                <span class="fa fa-folder-o fa-4x opacity-75" style="color: orangered;"></span>
                                            </div>
                                            <div class="col-6 d-flex  justify-content-center align-items-center">
                                                <div class="circle d-flex  justify-content-center align-items-center">
                                                    13
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row h-25 p-2 d-flex align-items-end ">
                                            <div class="col-11 text-secondary  opacity-75 ">Lost Quiz</div>
                                            <div class="col-1 fa fa-ellipsis-h text-secondary "></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 px-4">
                                <div class="card card2 border-0 shadow ">
                                    <div class="card-header border-0" style="height: 170px;">
                                        <div class="row h-75">
                                            <div class="col-6 d-flex  justify-content-center align-items-center ">
                                                <span class="fa fa-folder-o fa-4x opacity-75" style="color: indigo;"></span>
                                            </div>
                                            <div class="col-6 d-flex  justify-content-center align-items-center">
                                                <div class="circle d-flex  justify-content-center align-items-center">
                                                    07
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row h-25 p-2 d-flex align-items-end  ">
                                            <div class="col-11 text-secondary opacity-75 ">Quiz validated</div>
                                            <div class="col-1 fa fa-ellipsis-h text-secondary "></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6 px-4">
                                <div class="card card3 border-0 shadow ">
                                    <div class="card-header border-0" style="height: 170px;">
                                        <div class="row h-75">
                                            <div class="col-6 d-flex  justify-content-center align-items-center ">
                                                <span class="fa fa-folder-open-o fa-4x opacity-75" style="color: green;"></span>
                                            </div>
                                            <div class="col-6 d-flex  justify-content-center align-items-center">
                                                <div class="circle d-flex  justify-content-center align-items-center">
                                                    20
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row h-25 p-2 d-flex align-items-end  ">
                                            <div class="col-11 text-secondary opacity-75 ">All Quiz</div>
                                            <div class="col-1 fa fa-ellipsis-h text-white"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 px-4">
                                <div class="card card4 border-0 shadow ">
                                    <div class="card-header border-0" style="height: 170px;">
                                        <div class="row h-75">
                                            <div class="col-6 d-flex  justify-content-center align-items-center ">
                                                <span class="fa fa-file-word-o fa-4x opacity-75 " style="color: #333;"></span>
                                            </div>
                                            <div class="col-6 d-flex  justify-content-center align-items-center">
                                                <div class="circle d-flex  justify-content-center align-items-center">
                                                    85
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row h-25 p-2 d-flex align-items-end  ">
                                            <div class="col-11 text-secondary  opacity-75 ">Questions managers</div>
                                            <div class="col-1 fa fa-ellipsis-h text-secondary"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <app-footer></app-footer>
    </div>
</main>