/* You can add global styles to this file, and also import other style files */
a{
    color: red !important;
    font-size: 35px !important;
}
*{
    padding: 0 !important;
    margin: 0 !important;
}
body{
    overflow: hidden;
    background-image: url('assets/images/06.jpg');
    background-size: cover;
}