<div class="row p-1 rounded-3 shadow " style="height: 45px;background: linear-gradient(45deg, rgb(59, 59, 59), transparent, rgb(40, 41, 41));">
    
    <div class="col-2">
        <div class="form-group h-100">
            <button class="btn btn-success d-flex align-items-center justify-content-center px-2  h-100 w-100" routerLink="/create-quiz">
                <span class="fa fa-plus-square fa-2x mx-2"></span> Nouveau quiz
            </button>
        </div>
    </div>
    <div class="col-5 px-2">
        <div class="form-group h-100">
            <input type="search" class="form-control h-100 border-0  rounded-3 px-3" placeholder="enter the quiz search name ">
        </div>
    </div>
    <div class="col-3 px-2">
        <div class="form-group h-100">
            <select name="choice" class="form-select border-0 h-100 px-3">
                <option value="none" disabled selected>Filter choice</option>
                <option value="all">All</option>
                <option value="framwork" >Framwork</option>
                <option value="language" >Language</option>
            </select>
        </div>
    </div>
    <div class="col-2">
        <div class="form-group h-100">
            <button class="btn btn-secondary d-flex align-items-center justify-content-between px-2  h-100 w-100">
                OrderBy Name

                <div class="float-end">
                    <span class="fa fa-chevron-circle-down"></span>
                    <span class="fa fa-chevron-circle-up mx-1 text-warning"></span>
                </div>
            </button>
        </div>
    </div>
</div>