<main>
<div class="parent">
    <app-header></app-header>

    <div class="row">
        <div class="col-3">
            <app-assides></app-assides>
        </div>
        <div class="col-9">
            <app-main></app-main>
        </div>
    </div>

    <app-footer></app-footer>
</div>
</main>