.logo{
    height: 100vh;
    display: flex;
    align-items: center;
}
.user{
    width: 78px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    margin-top: -35px !important;
    background-color: rgb(255, 255, 255);
    font-size: 60px;
    border: 4px groove rgb(9, 204, 58);
    border-top: none;border-bottom: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.2) inset;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.4);
}
.login{
    border-bottom: 1px solid rgb(10, 201, 58);
    border-top: 1px solid rgb(10, 201, 58);
}
label{
    display: flex;
    height: 45px !important;
    margin-top: 22px !important;
    border-radius: 12px;

    span{
        width: 70px;
        height: 100%;
        color: white;
        font-size: 20px;
        background-color: rgb(6, 156, 44);
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        border-right: 6px double #ffffff;
        opacity: 0.7;
    }

    input{
        border: none;
        border-bottom: 1px solid green;
    }
}
.swal2-actions{
    background-color: red !important;
}