<div class="row logo">
    <div class="col-6 ">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 d-flex justify-content-center align-items-center flex-column opacity-75">
                <img src="assets/images/02.png" alt="" class="img-fluid" />
                <img src="assets/images/logo-pc-text.png" alt="" class="img-fluid" style="height: 70px;margin-top: -100px !important;" />
            </div>
        </div>
        <div class="row h-25 ">
            <div class="col-2"></div>
            <div class="col-8">
                <span class="text-center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sequi distinctio quos fuga natus omnis delectus rerum temporibus fugit minima. Minima distinctio enim temporibus aliquam unde quam amet ab eveniet.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sequi distinctio quos fuga natus omnis delectus rerum temporibus fugit minima. Minima distinctio enim temporibus aliquam unde quam amet ab eveniet.
                </span>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row d-flex justify-content-center px-5 py-3">
            <div class="user d-flex justify-content-center align-items-center">
                <span class="fa fa-user-circle text-success" style="font-size: 45px;" routerLink="/login"></span>
            </div>
            <div class="login bg-white rounded-4 shadow-lg">
                <div class="form mt-5 p-3">
                    <label for="firstname">
                        <span class="fa fa-user d-flex justify-content-center align-items-center"></span>
                        <input type="text" id="firstname" [(ngModel)]="user.prenom" class="px-3 form-control" placeholder="firstname | username">
                    </label>
                    <label for="lastname">
                        <span class="fa fa-user d-flex justify-content-center align-items-center"></span>
                        <input type="text" id="lastname" [(ngModel)]="user.nom" class="px-3 form-control" placeholder="lastname">
                    </label>
                    <label for="phone">
                        <span class="fa fa-phone d-flex justify-content-center align-items-center"></span>
                        <input type="number" id="phone" [(ngModel)]="user.num" class="px-3 form-control" placeholder="phone">
                    </label>
                    <label for="email">
                        <span class="fa fa-envelope d-flex justify-content-center align-items-center"></span>
                        <input type="email" id="email" [(ngModel)]="user.email" class="px-3 form-control" placeholder="email">
                    </label>
                    <label for="password">
                        <span class="fa fa-key d-flex justify-content-center align-items-center"></span>
                        <input type="password" id="password" [(ngModel)]="user.password" class="px-3 form-control " placeholder="password">
                    </label>
                    <label for="sexe">
                        <span class="fa fa-envelope d-flex justify-content-center align-items-center"></span>
                        <select name="sexe" id="sexe" [(ngModel)]="user.sexe" class="px-3 form-select ">
                            <option value="none" selected disabled>Sexe</option>
                            <option value="H" >Homme</option>
                            <option value="F" >Femme</option>
                        </select>
                    </label>
                </div>
                <div class="row px-3">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <button class="btn btn-outline-success py-2 w-100" (click)="register()">register  <span class="fa fa-save text-success"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>